.card-block {
  width: 100%;
  border: 1px solid #7e7d7d;
  text-align: left;
  // background: #180e6e;
  // background: linear-gradient(
  //   90deg,
  //   rgba(24, 14, 110, 1) 0%,
  //   rgba(9, 9, 121, 1) 100%,
  //   rgba(11, 16, 79, 1) 100%
  // );
}

.snippet-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 12px;

  .header-left {
    display: flex;
    gap: 10px;
  }

  .header-right {
    display: flex;
    gap: 10px;
  }
}

.source-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;

  .link {
    color: #69b1ff;
    cursor: pointer;
  }
}

.show-item {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  border-radius: 20px;

  span {
    cursor: pointer;
  }
}

.tags-container {
  margin-bottom: 25px;
}

.btn {
}
