.news-card {
  width: 100%;
  border: 1px solid #424242;
  text-align: left;
  background: #29284f;
  background: linear-gradient(
    153deg,
    rgba(41, 40, 79, 1) 0%,
    rgba(14, 14, 14, 1) 19%,
    rgba(18, 18, 18, 1) 100%
  );
}

.snippet-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 12px;

  .header-left {
    display: flex;
    gap: 10px;
  }

  .header-right {
    display: flex;
    gap: 15px;
  }

  .meta-btn {
    height: 25px;
    background-color: #23ffb0;
    border: none;

    span {
      color: #000;
    }
  }
  .meta-item {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon-warning {
      cursor: pointer;
      color: #424242;

      &:hover {
        color: #fff;
      }
    }

    .check-box .ant-checkbox {
      height: 25px;
      width: 25px;

      .ant-checkbox-inner {
        height: 25px;
        width: 25px;
        border-radius: 0;
        background-color: #000 !important;
        border-color: #424242 !important;
        border: 2px solid #424242;

        &::after {
          width: 10px;
          height: 12px;
        }
      }
    }

    .meta-value,
    .traffic-value {
      color: #fff;
    }
  }
}

.source-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;

  .link {
    color: #69b1ff;
    cursor: pointer;
  }
}

.news-abstract {
  color: #fff;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.news-abstract.collapsed {
  max-height: 4.5em;
  opacity: 0.8;
}

.news-abstract.expanded {
  max-height: 1000px;
  opacity: 1;
}

.show-item {
  display: inline-block;
  gap: 8px;
  margin-bottom: 12px;
  border-radius: 20px;
  span {
    color: #646cff;
    cursor: pointer;
  }
}

.tags-container {
  margin-bottom: 25px;

  .more-tags,
  .main-tag,
  .more-tags,
  .tag {
    width: 100px;
    text-align: center;
    padding: 2px 6px;
    border-radius: 20px;
    border-color: rgb(154, 151, 151);
    background-color: #121212;
    color: #646cff;
    cursor: pointer;
  }
}

.btn {
  margin-bottom: 12px;
}

.snippet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-footer {
  margin-bottom: 12px;
  .dublicate-text {
    color: rgb(154, 151, 151);
  }

  span {
    color: #fff;
  }
}

.related-news {
  background-color: #0e0e0e;
  border: 2px solid #09355a;
}

.highlighted-keyword {
  padding: 2px;
  border-radius: 4px;
  background-color: #0772cb;
}

.footer-btn {
  margin-top: 20px;
  width: 100%;
  color: #fff;
  background-color: #0e0e0e;

  &:hover {
    span {
      color: #0e0e0e;
    }
  }
}
