#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  width: 1200px;
}

.news-list {
  padding: 18px;
  background: #180e6e;
  background: linear-gradient(
    90deg,
    rgba(24, 14, 110, 1) 0%,
    rgba(9, 9, 121, 1) 100%,
    rgba(11, 16, 79, 1) 100%
  );
}
